<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<% include tpl/header.ejs %>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
<!-- BEGIN HEADER -->

<% include tpl/menu.ejs %>

<!-- END HEADER -->


<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <% include tpl/sidebar.ejs %>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->

            <!--h3 class="page-title"> Blank Page Layout
                <small>blank page layout</small>        To be resolved
            </h3-->

            <!-- END PAGE HEADER-->


            <!--START EDITING FROM HERE-->

            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-list font-dark"></i>
                        <span class="caption-subject bold uppercase">Profile Page</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="note note-info">
                                <b><strong>Info!</strong></b> Go to setting to change your password
                            </div>
                                <form>
                                    <div class="form-group">
                                        <div class="form-group col-md-5">
                                            <label class="form-control" id="users_name" data-name="<%= user.nickname %>"><b>Name : </b> <%= user.nickname %>
                                            </label>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label class="form-control" id="users_role" data-role="<%= user.role %>"> <b>Role : </b> <%= user.role %>
                                            </label>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label class="form-control" id="users_dept_id" data-deptid="<%= user.dep_id %>">
                                            <b>Department ID : </b>
                                                <% if(user.dep_id == ""){ %>
                                                <%= "----" %>
                                                <% } else {%>
                                                <%= user.dep_id %>
                                                <% } %>

                                            </label>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label class="form-control" id="users_email" data-email="<%= user.email_id %>">
                                            <b>Email ID : </b> <%= user.email_id %>
                                            </label>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label class="form-control" id="users_contact" data-contact="<%= user.contact %>">
                                            <b>Contact : </b> <%= user.contact %>
                                            </label>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label class="form-control" id="users_col_id" data-colid="<%= user.col_id %>" hidden>
                                            <b>College ID : </b> <%= user.col_id %>
                                            </label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                    <div class="col-md-5">
                                        <button type="button" class="btn btn-primary " id="change_email">Change Email ID</button>
                                        <br>
                                        <div class="alert alert-info" id="mail" hidden>
                                            <div class="input-group" id="mail_form">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button" id="close" onclick="close_form('mail')"><i class="fa fa-times-circle"></i></button>
                                                </span>
                                                <input type="text" id="new_mail" class="form-control" placeholder="Enter Email ID" required/>
                                                <span class="input-group-btn">
                                                        <button class="btn btn-primary" type="button" id="accept_mail">Confirm</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div id="mail_message" class="col-md-12">

                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <button type="button" class="btn btn-primary" id="change_contact">Change Contact</button>
                                        <div class="alert alert-info" id="contact" hidden>
                                            <div class="input-group" id="contact_form">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button" id="close" onclick="close_form('contact')"><i class="fa fa-times-circle"></i></button>
                                                </span>
                                                <input type="tel" id="new_contact" class="form-control" placeholder="Enter Contact" required/>
                                                <span class="input-group-btn">
                                                        <button class="btn btn-primary" type="button" id="accept_contact">Confirm</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div id="contact_message">

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!--STOP EDITING HERE-->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <% include tpl/quicksidebar.ejs %>
</div>

<!-- END CONTAINER -->

<% include tpl/footer.ejs %>
</body>
<script type="text/javascript">
    $("#change_email").click(function () {
        $("#mail_message").text('');
        $("#mail").show();
    })

    $("#change_contact").click(function () {
        $("#contact_message").text('');
        $("#contact").show();
    })

    $("#accept_mail").click(function () {
        if($("#new_mail").val() != null){
            if(validateEmail($("#new_mail").val())){
                $.ajax({
                    url: "../../ajax/change_mail",
                    data: {new_email: $("#new_mail").val(), name: $("#users_name").attr("data-name"), role: $("#users_role").attr("data-role")},
                    method: 'POST',
                    success: function () {
                        $("#mail").hide();
                        $("#mail_message").text('');
                        $("#mail_message").html(
                                '<div class="alert alert-info alert-dismissable" style="margin-top: 15px; margin-left: -15px">'+
                                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x<i class="fa fa-times-circle"></i></button>'+
                                        '<strong>Email changed successfully!</strong>'+
                                '</div>'
                        );
                    },
                    error: function () {
                        $("#mail").hide();
                        $("#mail_message").text('');
                        $("#mail_message").html(
                            '<div class="alert alert-info alert-dismissable" style="margin-top: 15px; margin-left: -15px">'+
                                '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x<i class="fa fa-times-circle"></i></button>'+
                                '<h3>An error occured. Please try again</h3>'+
                            '</div>'
                        );
                    }
                });
            }else {
                $("#new_mail").attr("placeholder", "Please enter a valid email id");
            }
        }
        else {
            $("#new_mail").attr("placeholder", "Please enter a valid email id");
        }
    });

    $("#accept_contact").click(function () {
        if($("#new_contact").val() != null){
            if(validateContact($("#new_contact").val())){
                $.ajax({
                    url: "../../ajax/change_contact",
                    data: {new_contact: $("#new_contact").val(), name: $("#users_name").attr("data-name"), role: $("#users_role").attr("data-role")},
                    method: 'POST',
                    success: function () {
                        $("#contact").hide();
                        $("#contact_message").text('');
                        $("#contact_message").html(
                            '<div class="alert alert-info alert-dismissable">'+
                            '<a href="#" class="close" data-dismiss="alert"><i class="fa fa-times-circle"></i></a>'+
                            '<h3>Contact number changed successfully!</h3>'+
                            '</div>'
                        );
                    },
                    error: function () {
                        $("#contact").hide();
                        $("#contact_message").text('');
                        $("#contact_message").html(
                            '<div class="alert alert-info alert-dismissable">'+
                            '<a href="#" class="close" data-dismiss="alert"><i class="fa fa-times-circle"></i></a>'+
                            '<h3>An error occured. Please try again</h3>'+
                            '</div>'
                        );
                    }
                });
            }else {
                $("#new_contact").attr("placeholder", "Please enter a valid contact number");
            }
        }
        else {
            $("#new_contact").attr("placeholder", "Please enter a valid contact number");
        }
    })

    function close_form(id) {
        $("#" + id).hide();
    }

    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        console.log(re.test(email));
        return re.test(email);
    }

    function validateContact(contact) {
        var re = /^\d{10}$/;
        console.log(re.test(contact));
        return re.test(contact);
    }
</script>

</html>