<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<% include tpl/header.ejs %>
<link href="../../stylesheets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css"/>
<link href="../../stylesheets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet"
      type="text/css"/>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
<!-- BEGIN HEADER -->

<% include tpl/menu.ejs %>

<!-- END HEADER -->


<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <% include tpl/sidebar.ejs %>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->

            <!--h3 class="page-title"> Blank Page Layout
                <small>blank page layout</small>        To be resolved
            </h3-->

            <!-- END PAGE HEADER-->


            <!--START EDITING FROM HERE-->
            <div class="portlet light div-sem_select">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-list font-dark"></i>
                        <span class="caption-subject bold uppercase">Select Department</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="selectSurveyDept">
                                <div class="form-group selectSurvey">
                                    <input type="hidden" name="col_id" value="<%= user.col_id %>" />

                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-2 col-md-offset-2">
                                            <label class="form-control" for="survey_id">Select Survey</label>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <select class="form-control" id="survey_id"  name="survey_id">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-2 col-md-offset-2">
                                            <label class="form-control" for="dept_id">Select Department</label>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <select class="form-control" id="dept_id" name="dept_id">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <input type="submit" class="btn btn-default submitFormBtn" value="Submit"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet light" id="gen_rep_div" style="display : none;">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-list font-dark"></i>
                        <span class="caption-subject bold uppercase">Generate Reports</span>
                    </div>
                </div>
                <div class="portlet-body assign_prof-div">

                    <div class="row">
                        <div class="col-md-12 gen_rep_div">
                            <div class="col-md-6" align="center">
                                <span class="col-md-12" height="50%"><button class="gen_rep_btn btn btn-default">GENERATE REPORTS</button></span><br />
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item"><i id="prof_icon" class="fa fa-times" style="margin-right:2em"></i>Professor Reports</li>
                                    <li class="list-group-item"><i id="prof_plot_icon" class="fa fa-times" style="margin-right:2em"></i>Professor Reports Plots</li>
                                    <li class="list-group-item"><i id="sub_plot_icon" class="fa fa-times" style="margin-right:2em"></i>Subject Reports Plots</li>
                                    <li class="list-group-item"><i id="lab_icon" class="fa fa-times" style="margin-right:2em"></i>Laboratory Reports</li>
                                    <li class="list-group-item"><i id="stud_sec_icon" class="fa fa-times" style="margin-right:2em"></i>Student Section Reports</li>
                                    <li class="list-group-item"><i id="overall_icon" class="fa fa-times" style="margin-right:2em"></i>Overall Reports</li>
                                    <li class="list-group-item"><i id="remark_icon" class="fa fa-times" style="margin-right:2em"></i>Student Remarks</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


            <!--STOP EDITING HERE-->

        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <% include tpl/quicksidebar.ejs %>
    <span id="form-counter">0</span>
</div>

<!-- END CONTAINER -->

<span id="dept_id_span"></span>

<% include tpl/footer.ejs %>

<script>

    (load_departments = function(){
        $.ajax({
            url: '../../ajax/getDeptList',
            data: {col_id: '<%= user.col_id %>'},
            method: 'POST',
            success: function(data){
                data.forEach(function(d){
                    $('#dept_id').append('<option value="'+d.dept_id+'">'+d.dept_name+'</option>')
                });
                initiate_icons()
            }
        });
    })();

    (load_surveys = function(){
        $.ajax({
            url: '../../ajax/getSurveyList',
            data: {col_id: '<%= user.col_id %>'},
            method: 'POST',
            success: function(data){
                data.forEach(function(d){
                    $('#survey_id').append('<option value="'+d.survey_id+'">'+d.survey_id+'</option>')
                });
            }
        });
    })();

    $('.selectSurvey').on('click', '.submitFormBtn', function (e) {
        e.preventDefault();

        initiate_icons()

        $('#gen_rep_div').fadeIn();
    })

    start_loader = function () {
        $('#prof_icon').removeClass('fa-cross');
        $('#lab_icon').removeClass('fa-cross');
        $('#stud_sec_icon').removeClass('fa-cross');
        $('#overall_icon').removeClass('fa-cross');
        $('#remark_icon').removeClass('fa-cross');
        $('#prof_plot_icon').removeClass('fa-cross');
        $('#stud_sec_icon').removeClass('fa-cross');

        $('#prof_icon').addClass('fa-cog');
        $('#lab_icon').addClass('fa-cog');
        $('#stud_sec_icon').addClass('fa-cog');
        $('#overall_icon').addClass('fa-cog');
        $('#remark_icon').addClass('fa-cog');
        $('#prof_plot_icon').addClass('fa-cog');
        $('#stud_sec_icon').addClass('fa-cog');

        $('#prof_icon').addClass('fa-spin');
        $('#lab_icon').addClass('fa-spin');
        $('#stud_sec_icon').addClass('fa-spin');
        $('#overall_icon').addClass('fa-spin');
        $('#remark_icon').addClass('fa-spin');
        $('#prof_plot_icon').addClass('fa-spin');
        $('#stud_sec_icon').addClass('fa-spin');
    }

    initiate_icons = function () {
        $('#prof_icon').addClass('fa-cross');
        $('#lab_icon').addClass('fa-cross');
        $('#stud_sec_icon').addClass('fa-cross');
        $('#overall_icon').addClass('fa-cross');
        $('#remark_icon').addClass('fa-cross');
        $('#prof_plot_icon').addClass('fa-cross');
        $('#stud_sec_icon').addClass('fa-cross');

        $('#prof_icon').removeClass('fa-cog');
        $('#lab_icon').removeClass('fa-cog');
        $('#stud_sec_icon').removeClass('fa-cog');
        $('#overall_icon').removeClass('fa-cog');
        $('#remark_icon').removeClass('fa-cog');
        $('#prof_icon').removeClass('fa-cog');
        $('#stud_sec_icon').removeClass('fa-cog');

        $('#prof_icon').removeClass('fa-spin');
        $('#lab_icon').removeClass('fa-spin');
        $('#stud_sec_icon').removeClass('fa-spin');
        $('#overall_icon').removeClass('fa-spin');
        $('#remark_icon').removeClass('fa-spin');
        $('#prof_plot_icon').removeClass('fa-spin');
        $('#stud_sec_icon').removeClass('fa-spin');

        $('#prof_icon').css('color', 'black');
        $('#lab_icon').css('color', 'black');
        $('#stud_sec_icon').css('color', 'black');
        $('#overall_icon').css('color', 'black');
        $('#remark_icon').css('color', 'black');
        $('#prof_plot_icon').css('color', 'black');
        $('#stud_sec_icon').css('color', 'black');
    }

    success_icons = function(id){
        $(id).removeClass('fa-cog');
        $(id).removeClass('fa-spin');
        $(id).removeClass('fa-times');
        $(id).addClass('fa-check');
        $(id).css('color', 'green');
    }

    error_icons = function(id){
        $(id).removeClass('fa-cog');
        $(id).removeClass('fa-spin');
        $(id).addClass('fa-times');
        $(id).css('color', 'red');
    }

    $('.gen_rep_div').on('click', '.gen_rep_btn', function(){

        start_loader()

      $.ajax({
            url:'../../ajax/profR_rep', //frontend
            method: 'POST',
            data: {col_id: '<%= user.col_id %>', dept_id: $('#dept_id option:selected').val(), survey_id: $('#survey_id option:selected').val()},
            success: function(data){
                success_icons('#prof_icon')
            },
          error: function(error){
              error_icons('#prof_icon')
          }
        })

        $.ajax({
            url:'../../ajax/sub_rep', //frontend
            method: 'POST',
            data: {col_id: '<%= user.col_id %>', dept_id: $('#dept_id option:selected').val(), survey_id: $('#survey_id option:selected').val()},
            success: function(data){
                success_icons('#prof_plot_icon')
            },
            error: function(error){
                error_icons('#prof_plot_icon')
            }
        })

        $.ajax({
            url:'../../ajax/prof_rep', //frontend
            method: 'POST',
            data: {col_id: '<%= user.col_id %>', dept_id: $('#dept_id option:selected').val(), survey_id: $('#survey_id option:selected').val()},
            success: function(data){
                success_icons('#sub_plot_icon')
            },
            error: function(error){
                error_icons('#sub_plot_icon')
            }
        })

        $.ajax({
            url:'../../ajax/lab_rep', //excel
            method: 'POST',
            data: {col_id: '<%= user.col_id %>', dept_id: $('#dept_id option:selected').val(), survey_id: $('#survey_id option:selected').val()},
            success: function(data){
                success_icons('#lab_icon')
            },
            error: function(error){
                error_icons('#lab_icon')
            }
        })

        $.ajax({
            url:'../../ajax/studentS_rep', //excel
            method: 'POST',
            data: {col_id: '<%= user.col_id %>', dept_id: $('#dept_id option:selected').val(), survey_id: $('#survey_id option:selected').val()},
            success: function(data){
                success_icons('#stud_sec_icon')
            },
            error: function(error){
                error_icons('#stud_sec_icon')
            }
        })

        $.ajax({
            url:'../../ajax/overall_rep', //excel
            method: 'POST',
            data: {col_id: '<%= user.col_id %>', dept_id: $('#dept_id option:selected').val(), survey_id: $('#survey_id option:selected').val()},
            success: function(data){
                success_icons('#overall_icon')
            },
            error: function(error){
                error_icons('#overall_icon')
            }
        })

        $.ajax({
            url:'../../ajax/remark_rep', //excel
            method: 'POST',
            data: {col_id: '<%= user.col_id %>', dept_id: $('#dept_id option:selected').val(), survey_id: $('#survey_id option:selected').val()},
            success: function(data){
                success_icons('#remark_icon')
            },
            error: function(error){
                error_icons('#remark_icon')
            }
        })
    })

</script>


</body>

</html>
