<!DOCTYPE html>

<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>FeedBack System | Student</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN LAYOUT FIRST STYLES -->
    <link href="//fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css" />
    <!-- END LAYOUT FIRST STYLES -->
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="../../stylesheets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../stylesheets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../stylesheets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../stylesheets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="../../stylesheets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="../../stylesheets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="../../stylesheets/layouts/layout5/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="../../stylesheets/layouts/layout5/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link href="../../bower_components/bootstrap-star-rating/css/star-rating.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" /> </head>
<!-- END HEAD -->

<style>
    .form-wizard .steps>li>a.step>.desc,.form-wizard .steps>li>a.step>.number {
        font-size: 15px !important;
    }

</style>


<body class="page-header-fixed page-sidebar-closed-hide-logo">
<!-- BEGIN CONTAINER -->
<div class="wrapper">
    <!-- BEGIN HEADER -->
    <header class="page-header">
        <nav class="navbar mega-menu" role="navigation">
            <div class="container-fluid">

                <div class="clearfix navbar-fixed-top">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="toggle-icon">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </span>
                    </button>
                    <!-- End Toggle Button -->
                    <!-- BEGIN LOGO -->
                    <a id="index" class="page-logo" href="http://bvcoenm.org.in/" target="_blank">
                        <img src="../../logo/logo.png" alt="Logo"> </a>
                    <!-- END LOGO -->

                    <!-- BEGIN TOPBAR ACTIONS -->
                    <div class="topbar-actions">
                        <!-- BEGIN USER PROFILE -->
                        <div class="btn-group-img btn-group">
                            <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span><%= user.namex %></span>
                                <img src="../../profile/profile.png" alt=""> </button>
                            <ul class="dropdown-menu-v2" role="menu">
                                <li>
                                    <a data-toggle="modal" href="#myProfile">
                                        <i class="icon-user"></i> My Profile
                                    </a>
                                </li>
                                <li class="divider"> </li>

                                <li>
                                    <a href="../../logout">
                                        <i class="icon-key"></i> Log Out </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END USER PROFILE -->

                    </div>
                    <!-- END TOPBAR ACTIONS -->
                </div>
            </div>
            <!--/container-->
        </nav>
    </header>
    <!-- END HEADER -->

    <% function ObjectLength( object ) {
        var length = 0;
        for( var key in object ) {
            if( object.hasOwnProperty(key) ) {
                ++length;
            }
        }
        return length;
    }; %>

    <div class="container-fluid">
        <div class="page-content">

            <!-- BEGIN SIDEBAR CONTENT LAYOUT -->
            <div class="page-content-container">
                <div class="page-content-row">
                    <div class="page-content-col feedback-panel">
                        <!-- BEGIN PAGE BASE CONTENT -->

                        <div class="row">
                            <div class="col-md-8 col-xs-3 col-sm-6 col-lg-12">

                                <div class="portlet light wizard" id="form_wizard_1">

                                    <div class="portlet-body form">
                                        <form class="feedback_form" action="#" id="submit_form" method="POST">
                                            <div class="form-wizard">
                                                <div class="form-body">
                                                    <ul class="nav nav-pills nav-justified steps">
                                                        <li>
                                                            <a href="#tab1" data-toggle="tab" class="step">
                                                                <span class="number"> 1 </span>
                                                                <span class="desc">
                                                                <i class="fa fa-check"></i> FACULTY FEEDBACK </span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#tab2" data-toggle="tab" class="step">
                                                                <span class="number"> 2 </span>
                                                                <span class="desc">
                                                                <i class="fa fa-check"></i> LABORATORY FEEDBACK </span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#tab3" data-toggle="tab" class="step ">
                                                                <span class="number"> 3 </span>
                                                                <span class="desc">
                                                                <i class="fa fa-check"></i> OVERALL FEEDBACK </span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#tab4" data-toggle="tab" class="step active">
                                                                <span class="number"> 4 </span>
                                                                <span class="desc">
                                                                <i class="fa fa-check"></i> STUDENT SERVICE </span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#tab5" data-toggle="tab" class="step">
                                                                <span class="number"> 5 </span>
                                                                <span class="desc">
                                                                <i class="fa fa-check"></i> FINAL STEP </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div id="bar" class="progress progress-striped" role="progressbar">
                                                        <div class="progress-bar progress-bar-success" ></div>
                                                    </div>

                                                        <input type="hidden" name="col_id" value = "<%= user.col_id %>" />
                                                        <input type="hidden" name="dept_id" value = "<%= user.dep_id %>" />
                                                        <input type="hidden" name="sem" value = "<%= user.sem %>" />
                                                        <input type="hidden" name="survey_id" value="<%= user.survey_id %>" />

                                                        <input type="hidden" name="sub_qty" value="<%= ObjectLength(subject) %>" />

                                                        <div class="tab-content">
                                                            <div class="tab-pane active feed1" id="tab1">
                                                                <h3 class="block">FACULTY FEEDBACK</h3>
                                                                <div class="feedForm form-group table-responsive" style="overflow-x: scroll;" >
                                                                    <table class="table table-striped table-hover header-fixed">
                                                                        <thead>
                                                                        <% subject.forEach(function(item){%>
                                                                        <th><%= item.sub_name %></th>

                                                                        <%}); %>
                                                                        </thead>
                                                                        <tbody>
                                                                        <% particulars.faculty.questions.forEach(function(ques){ %>
                                                                        <tr><td colspan="<%= subject.length %>"><div class="col-md-12 col-sm-4 col-xs-3" align="center"><h5 style="font-weight: bolder;"><%= ques.question %></h5></div></td></tr>
                                                                        <tr>
                                                                            <% subject.forEach(function(item){ %>
                                                                            <td style="width: <%= 100 / subject.length %>%;">
                                                                                <div class="col-md-6 row margin-bottom text-align-center">
                                                                                    <div class="col-md-12">
                                                                                        <input id="rate_<%= item.sub_id %>_<%= ques.qid %>_<%= item.prof_id %>" name="rate_<%= item.sub_id %>_<%= ques.qid %>_<%= item.prof_id %>" data-show-clear="false" class="rating rating-loading star-rating-input" data-size="xs" required>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <% }); %>

                                                                        </tr>
                                                                        <%}); %>

                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>


                                                            <div class="tab-pane feed2" id="tab2">
                                                                <h3 class="block">LABORATORY FEEDBACK</h3>
                                                                <div class="feedForm form-group">
                                                                    <table class="table table-striped table-hover header-fixed">
                                                                        <thead>
                                                                        <th>PARTICULARS</th>
                                                                        <% subject.forEach(function(item){%>
                                                                        <th><%= item.sub_name %></th>
                                                                        <%}); %>

                                                                        </thead>
                                                                        <tbody>
                                                                        <% particulars.laboratory.questions.forEach(function(ques){ %>
                                                                        <tr>
                                                                            <td><%= ques.question %></td>
                                                                            <% subject.forEach(function(item){ %>
                                                                            <td>
                                                                                <div class="col-md-6 row margin-bottom text-align-center">
                                                                                    <div class="col-md-12">
                                                                                        <input id="rate_<%= item.sub_id %>_<%= ques.qid %>_<%= item.prof_id %>" name="rate_<%= item.sub_id %>_<%= ques.qid %>_<%= item.prof_id %>" data-show-clear="false" class="rating rating-loading star-rating-input" data-size="xs" required>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <% }); %>

                                                                        </tr>
                                                                        <%}); %>

                                                                        </tbody>
                                                                    </table>
                                                                </div>

                                                            </div>


                                                            <div class="tab-pane feed3" id="tab3">
                                                                <h3 class="block">OVERALL FEEDBACK</h3>
                                                                <div class="feedForm form-group">
                                                                    <table class="table table-striped table-hover header-fixed">
                                                                        <thead>
                                                                        <th>PARTICULARS</th>
                                                                        <th>RATE</th>
                                                                        <th>REMARK (If any)</th>

                                                                        </thead>
                                                                        <tbody>
                                                                        <% particulars.overall.questions.forEach(function(ques){ %>
                                                                        <tr>
                                                                            <td><%= ques.question %></td>
                                                                            <td style="width:35%">
                                                                                <div class="col-md-12 row margin-bottom text-align-center">
                                                                                    <div class="col-md-12">
                                                                                        <div>
                                                                                            <input id="rate_<%= ques.qid %>" name="rate_<%= ques.qid %>" data-show-clear="false" class="rating rating-loading star-rating-input" data-size="xs" required>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td style="width:30%">
                                                                                <div class="col-md-12 row margin-bottom text-align-center">
                                                                                    <div class="col-md-12">
                                                                                        <textarea id="remark_<%= ques.qid %>" name = "remark_<%= ques.qid %>" class="form-control" placeholder="Enter related remarks (if any)"></textarea>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <%}); %>

                                                                        </tbody>
                                                                    </table>
                                                                </div>

                                                            </div>

                                                            <div class="tab-pane feed4" id="tab4">
                                                                <h3 class="block">STUDENT SERVICE</h3>
                                                                <div class="feedForm form-group">
                                                                    <table class="table table-striped table-hover header-fixed">
                                                                        <thead>
                                                                        <th>PARTICULARS</th>
                                                                        <th>RATE</th>

                                                                        </thead>
                                                                        <tbody>
                                                                        <% particulars.student_service.questions.forEach(function(ques1){ %>
                                                                        <tr>
                                                                            <td><%= ques1.question %></td>
                                                                           <td style="width:50%">
                                                                                <div class="form-group col-md-12 row margin-bottom text-align-center">
                                                                                    <div class="col-md-12">
                                                                                        <div>
                                                                                            <input id="rate_<%= ques1.qid %>" name="rate_<%= ques1.qid %>" data-show-clear="false" class="form-control rating rating-loading star-rating-input" data-size="xs" required>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <%}); %>

                                                                        </tbody>
                                                                    </table>
                                                                </div>

                                                            </div>

                                                            <div class="tab-pane thankyou" id="tab5">
                                                                <div clas="well">
                                                                    <span class="center">
                                                                        <center>
                                                                            <h3>Please click on SUBMIT </h3><br />
                                                                            <h2><span style="font-size: small" id="redirect" hidden>Please wait...Redirecting...</span></h2>
                                                                        </center>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-actions">
                                                            <div class="row">
                                                                <div class="col-md-offset-3 col-md-9">
                                                                    <a href="javascript:;" class="btn default button-previous">
                                                                        <i class="fa fa-angle-left"></i> Back </a>
                                                                    <a href="javascript:;" class="btn btn-outline green button-next"> Continue
                                                                        <i class="fa fa-angle-right"></i>
                                                                    </a>
                                                                    <a href="javascript:;" class="btn green button-submit"> Submit
                                                                        <i class="fa fa-check"></i>
                                                                    </a>
                                                                    <span id="star-errors" style="color:red; display:none;"><i>Please check if everything is rated!</i></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    <!-- END PAGE BASE CONTENT -->
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- END SIDEBAR CONTENT LAYOUT -->
                                </div>
                                <!-- BEGIN FOOTER -->
                                <p class="copyright" style="font-size: smaller; ">
                                    2016 © FeedBack System by the-wire.&nbsp;<a href="https://github.com/THE-WIRE" title="Produced with love" target="_blank">Produced with love</a>
                                </p>
                                <a href="#index" class="go2top">
                                    <i class="icon-arrow-up"></i>
                                </a>
                                <!-- END FOOTER -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- END CONTAINER -->


    <!--[if lt IE 9]>
    <script src="../../javascripts/global/plugins/respond.min.js"></script>
    <script src="../../javascripts/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="../../javascripts/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../../javascripts/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../javascripts/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="../../javascripts/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="../../javascripts/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="../../javascripts/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="../../javascripts/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="../../javascripts/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="../../javascripts/layouts/layout5/scripts/layout.min.js" type="text/javascript"></script>

    <!-- END THEME LAYOUT SCRIPTS -->
    <script src="../../javascripts/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="../../javascripts/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../../javascripts/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="../../javascripts/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="../../javascripts/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="../../bower_components/bootstrap-star-rating/js/star-rating.js" type="text/javascript"></script>



    <script>
        $('.star-rating-input').rating({min:0, max:5, step:0.5, size:'xs',starCaptions : {
            0.5: '0.5 : Very Poor',
            1: '1 : Poor',
            1.5: '1.5 : Poor',
            2: '2 : Below Average',
            2.5: '2.5 : Average',
            3: '3 : Can do better',
            3.5: '3.5 : Good',
            4: '4 : Very Good',
            4.5: '4.5 : Excellent',
            5: '5 : Perfect'
        }, starCaptionClasses: {
            0.5: 'label label-danger',
            1: 'label label-danger',
            1.5: 'label label-warning',
            2: 'label label-warning',
            2.5: 'label label-info',
            3: 'label label-info',
            3.5: 'label label-primary',
            4: 'label label-primary',
            4.5: 'label label-success',
            5: 'label label-success'
        }});
    </script>

    <script>
       function submit_rating(){
           console.log($('#submit_form').serialize());
           $('#redirect').show();
           $.ajax({
               url : '../../ajax/submit',
               data : $('#submit_form').serialize(),
               method : 'POST',
               success:function () {
                   ratingDone();
                   console.log("done");
               }
           });

       }

       function ratingDone(){

           $.ajax({
               url : '../../ajax/done',
               method : 'POST',
               success:function () {
                   console.log("its done you can logout");
                   window.location.replace('/logout');
               }
           });
       }



    </script>

    <script>
        function checkerrors1(){
            for(i in rate1){
                if(!rate1[i]){
                    $('#star-errors').fadeIn();
                    return false;
                }
            }
            return true;
        }
        function checkerrors2(){
            for(i in rate2){
                if(!rate2[i]){
                    $('#star-errors').fadeIn();
                    return false;
                }
            }
            return true;
        }
        function checkerrors3(){
            for(i in rate3){
                if(!rate3[i]){
                    $('#star-errors').fadeIn();
                    return false;
                }
            }
            return true;
        }
        function checkerrors4(){
            for(i in rate4){
                if(!rate4[i]){
                    $('#star-errors').fadeIn();
                    return false;
                }
            }
            return true;
        }
    </script>

    <script>
        var FormWizard = function () {


            return {
                //main function to initiate the module
                init: function () {
                    if (!jQuery().bootstrapWizard) {
                        return;
                    }

                    function format(state) {
                        if (!state.id) return state.text; // optgroup
                        return "<img class='flag' src='../../assets/global/img/flags/" + state.id.toLowerCase() + ".png'/>&nbsp;&nbsp;" + state.text;
                    }

                    $("#country_list").select2({
                        placeholder: "Select",
                        allowClear: true,
                        formatResult: format,
                        width: 'auto',
                        formatSelection: format,
                        escapeMarkup: function (m) {
                            return m;
                        }
                    });

                    var form = $('#submit_form');
                    var error = $('.alert-danger', form);
                    var success = $('.alert-success', form);

                    form.validate({
                        doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                        errorElement: 'span', //default input error message container
                        errorClass: 'help-block help-block-error', // default input error message class
                        focusInvalid: false, // do not focus the lapast invalid input
//                                            rules: {
//                                                //account
//                                                username: {
//                                                    minlength: 5,
//                                                    required: true
//                                                },
//                                                password: {
//                                                    minlength: 5,
//                                                    required: true
//                                                },
//                                                rpassword: {
//                                                    minlength: 5,
//                                                    required: true,
//                                                    equalTo: "#submit_form_password"
//                                                },
//                                                //profile
//                                                fullname: {
//                                                    required: true
//                                                },
//                                                email: {
//                                                    required: true,
//                                                    email: true
//                                                },
//                                                phone: {
//                                                    required: true
//                                                },
//                                                gender: {
//                                                    required: true
//                                                },
//                                                address: {
//                                                    required: true
//                                                },
//                                                city: {
//                                                    required: true
//                                                },
//                                                country: {
//                                                    required: true
//                                                },
//                                                //payment
//                                                card_name: {
//                                                    required: true
//                                                },
//                                                card_number: {
//                                                    minlength: 16,
//                                                    maxlength: 16,
//                                                    required: true
//                                                },
//                                                card_cvc: {
//                                                    digits: true,
//                                                    required: true,
//                                                    minlength: 3,
//                                                    maxlength: 4
//                                                },
//                                                card_expiry_date: {
//                                                    required: true
//                                                },
//                                                'payment[]': {
//                                                    required: true,
//                                                    minlength: 1
//                                                }
//                                            },

//                                            messages: { // custom messages for radio buttons and checkboxes
//                                                'payment[]': {
//                                                    required: "Please select at least one option",
//                                                    minlength: jQuery.validator.format("Please select at least one option")
//                                                }
//                                            },

                        errorPlacement: function (error, element) { // render error placement for each input type
                            if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                                error.insertAfter("#form_gender_error");
                            } else if (element.attr("name") == "payment[]") { // for uniform checkboxes, insert the after the given container
                                error.insertAfter("#form_payment_error");
                            } else {
                                error.insertAfter(element); // for other inputs, just perform default behavior
                            }
                        },

                        invalidHandler: function (event, validator) { //display error alert on form submit
                            success.hide();
                            error.show();
                            App.scrollTo(error, -200);
                        },

                        highlight: function (element) { // hightlight error inputs
                            $(element)
                                .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                        },

                        unhighlight: function (element) { // revert the change done by hightlight
                            $(element)
                                .closest('.form-group').removeClass('has-error'); // set error class to the control group
                        },

                        success: function (label) {
                            if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                                label
                                    .closest('.form-group').removeClass('has-error').addClass('has-success');
                                label.remove(); // remove error label here
                            } else { // display success icon for other inputs
                                label
                                    .addClass('valid') // mark the current input as valid and display OK icon
                                    .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                            }
                        },

                        submitHandler: function (form) {
                            success.show();
                            error.hide();
                            console.log(form.serialize());
                            $.ajax({
                                url : '../../ajax/submit',
                                data : form.serialize(),
                                method : 'POST',
                                success:function () {
                                    console.log("done");
                                }
                            });
                            //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                        }

                    });

                    var displayConfirm = function() {
                        $('#tab4 .form-control-static', form).each(function(){
                            var input = $('[name="'+$(this).attr("data-display")+'"]', form);
                            if (input.is(":radio")) {
                                input = $('[name="'+$(this).attr("data-display")+'"]:checked', form);
                            }
                            if (input.is(":text") || input.is("textarea")) {
                                $(this).html(input.val());
                            } else if (input.is("select")) {
                                $(this).html(input.find('option:selected').text());
                            } else if (input.is(":radio") && input.is(":checked")) {
                                $(this).html(input.attr("data-title"));
                            } else if ($(this).attr("data-display") == 'payment[]') {
                                var payment = [];
                                $('[name="payment[]"]:checked', form).each(function(){
                                    payment.push($(this).attr('data-title'));
                                });
                                $(this).html(payment.join("<br>"));
                            }
                        });
                    }

                    var handleTitle = function(tab, navigation, index) {
                        $('#star-errors').fadeOut();
                        var total = navigation.find('li').length;
                        var current = index + 1;
                        // set wizard title
                        $('.step-title', $('#form_wizard_1')).text('Step ' + (index + 1) + ' of ' + total);
                        // set done steps
                        jQuery('li', $('#form_wizard_1')).removeClass("done");
                        var li_list = navigation.find('li');
                        for (var i = 0; i < index; i++) {
                            jQuery(li_list[i]).addClass("done");
                        }

                        if (current == 1) {
                            $('#form_wizard_1').find('.button-previous').hide();
                        } else {
                            $('#form_wizard_1').find('.button-previous').show();
                        }

                        if (current >= total) {
                            $('#form_wizard_1').find('.button-next').hide();
                            $('#form_wizard_1').find('.button-submit').show();
                            displayConfirm();
                        } else {
                            $('#form_wizard_1').find('.button-next').show();
                            $('#form_wizard_1').find('.button-submit').hide();
                        }
                        App.scrollTo($('.page-title'));
                    }

                    // default form wizard
                    $('#form_wizard_1').bootstrapWizard({
                        'nextSelector': '.button-next',
                        'previousSelector': '.button-previous',
                        onTabClick: function (tab, navigation, index, clickedIndex) {
                            return false;

                            success.hide();
                            error.hide();
                            if (form.valid() == false) {
                                return false;
                            }

                            handleTitle(tab, navigation, clickedIndex);
                        },
                        onNext: function (tab, navigation, index) {
                            success.hide();
                            error.hide();

                            switch(index){
                                case 1:
                                    if(!checkerrors1()){ return false; }
                                    break;
                                case 2:
                                    if(!checkerrors2()){ return false; }
                                    break;
                                case 3:
                                    if(!checkerrors3()){ return false; }
                                    break;
                                case 4:
                                    if(!checkerrors4()){ return false; }
                                    break;
                                default:
                            }

                            $('#star-errors').fadeOut();

                            handleTitle(tab, navigation, index);
                        },
                        onPrevious: function (tab, navigation, index) {
                            success.hide();
                            error.hide();

                            handleTitle(tab, navigation, index);
                        },
                        onTabShow: function (tab, navigation, index) {
                            $('#star-errors').fadeOut();
                            var total = navigation.find('li').length;
                            var current = index + 1;
                            var $percent = (current / total) * 100;
                            $('#form_wizard_1').find('.progress-bar').css({
                                width: $percent + '%'
                            });
                        }
                    });

                    $('#form_wizard_1').find('.button-previous').hide();
                    $('#form_wizard_1 .button-submit').click(function () {
                        //
                        submit_rating();

                    }).hide();

                    //apply validation on select2 dropdown value change, this only needed for chosen dropdown integration.
                    $('#country_list', form).change(function () {
                        form.validate().element($(this)); //revalidate the chosen dropdown value and show error or success message for the input
                    });
                }

            };

        }();

        jQuery(document).ready(function() {
            FormWizard.init();
        });

    </script>

<script>
    var rate1 = new Object();
    var rate2 = new Object();
    var rate3 = new Object();
    var rate4 = new Object();
</script>

<script>
<% particulars.faculty.questions.forEach(function(ques){ %>
<% subject.forEach(function(item){ %>
    rate1.rate_<%= item.sub_id %>_<%= ques.qid %>_<%= item.prof_id %> = false
<% }); %>
<%}); %>
</script>

<script>
    <% particulars.laboratory.questions.forEach(function(ques){ %>
    <% subject.forEach(function(item){ %>
    rate2.rate_<%= item.sub_id %>_<%= ques.qid %>_<%= item.prof_id %> = false
    <% }); %>
    <%}); %>
</script>

<script>
    <% particulars.overall.questions.forEach(function(ques){ %>
    rate3.rate_<%= ques.qid %> = false
    <%}); %>
</script>

<script>
    <% particulars.student_service.questions.forEach(function(ques){ %>
    rate4.rate_<%= ques.qid %> = false
    <%}); %>
</script>

<!-- Star input validation -->

<% particulars.faculty.questions.forEach(function(ques){ %>
<% subject.forEach(function(item){ %>
<script>
    $('#rate_<%= item.sub_id %>_<%= ques.qid %>_<%= item.prof_id %>').on('rating.change', function(event, value, caption) {
        rate1.rate_<%= item.sub_id %>_<%= ques.qid %>_<%= item.prof_id %> = true;
    });
</script>
<% }); %>
<%}); %>

<% particulars.laboratory.questions.forEach(function(ques){ %>
<% subject.forEach(function(item){ %>
<script>
    $('#rate_<%= item.sub_id %>_<%= ques.qid %>_<%= item.prof_id %>').on('rating.change', function(event, value, caption) {
        rate2.rate_<%= item.sub_id %>_<%= ques.qid %>_<%= item.prof_id %> = true;
    });
</script>
<% }); %>
<%}); %>

<% particulars.overall.questions.forEach(function(ques){ %>
<script>
    $('#rate_<%= ques.qid %>').on('rating.change', function(event, value, caption) {
        rate3.rate_<%= ques.qid %> = true;
    });
</script>
<%}); %>

<% particulars.student_service.questions.forEach(function(ques){ %>
<script>
    $('#rate_<%= ques.qid %>').on('rating.change', function(event, value, caption) {
        rate4.rate_<%= ques.qid %> = true;
    });
</script>
<%}); %>

</body>

</html>