<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<% include tpl/header.ejs %>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
<!-- BEGIN HEADER -->

<% include tpl/menu.ejs %>

<!-- END HEADER -->


<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <% include tpl/sidebar.ejs %>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->

            <!--h3 class="page-title"> Blank Page Layout
                <small>blank page layout</small>        To be resolved
            </h3-->

            <!-- END PAGE HEADER-->


            <!--START EDITING FROM HERE-->

            <div class="note note-info">
                <p> Before downloading reports make sure that they are generated. Reports can be generated from HOD's login.</p>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-social-dribbble font-green hide"></i>
                                <span class="caption-subject font-dark bold uppercase">Survey Reports</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <!--<div class="tiles tiles-subject">-->

                                        <!--<a href="#">-->
                                            <!--<div class="tile bg-red">-->
                                                <!--<div class="tile-body">-->
                                                    <!--<i class="fa fa-database"></i>-->
                                                <!--</div>-->
                                                <!--<div class="tile-object">-->
                                                    <!--<div class="name"> SUBJECT WISE </div>-->
                                                    <!--<div class="number"> # </div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</a>-->

                                    <!--</div>-->

                                    <div class="tiles tiles-department col-md-2">

                                        <a href="#">
                                            <div class="tile bg-blue">
                                                <div class="tile-body">
                                                    <i class="fa fa-database"></i>
                                                </div>
                                                <div class="tile-object">
                                                    <div class="name"> DEPARTMENT WISE </div>

                                                </div>
                                            </div>
                                        </a>

                                    </div>
                                    <div class="tiles tiles-sem col-md-2">

                                        <a href="#">
                                            <div class="tile bg-red">
                                                <div class="tile-body">
                                                    <i class="fa fa-database"></i>
                                                </div>
                                                <div class="tile-object">
                                                    <div class="name"> SEMESTER WISE </div>

                                                </div>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="tiles tiles-whole col-md-2">

                                        <a href="#">
                                            <div class="tile bg-red">
                                                <div class="tile-body">
                                                    <i class="fa fa-database"></i>
                                                </div>
                                                <div class="tile-object">
                                                    <div class="name"> EXTENDED DEPARTMENT </div>

                                                </div>
                                            </div>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="customize" style="display:none;">
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-social-dribbble font-green hide"></i>
                                <span class="caption-subject font-dark bold uppercase">Customize</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="form-group selectSurvey">
                                    <input type="hidden" name="col_id" value="<%= user.col_id %>" />

                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-2 col-md-offset-2">
                                            <label class="form-control" for="survey_id">Select Survey</label>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <select class="form-control" id="survey_id"  name="survey_id">
                                            </select>
                                        </div>

                                    </div>


                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-2 col-md-offset-2">
                                            <label class="form-control" for="dept_id">Select Department</label>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <select class="form-control" id="dept_id" name="dept_id">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <input type="submit" class="btn btn-default submitFormBtn" value="Submit"/><i id="loader" style="margin-left:20px; display:none;" class="fa fa-lg fa-cog fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="error-div" align="center" style="display:none; margin-top:10px;">
                                <span class="note note-warning">Something went wrong!&nbsp;<small>Try Again or Contact Administrator</small></span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="customize1" style="display:none;">
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-social-dribbble font-green hide"></i>
                                <span class="caption-subject font-dark bold uppercase">Customize</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="form-group selectSurvey1">
                                    <input type="hidden" name="col_id" value="<%= user.col_id %>" />

                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-2 col-md-offset-2">
                                            <label class="form-control" for="survey_id1">Select Survey</label>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <select class="form-control" id="survey_id1"  name="survey_id">
                                            </select>
                                        </div>

                                    </div>


                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-2 col-md-offset-2">
                                            <label class="form-control" for="dept_id1">Select Department</label>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <select class="form-control" id="dept_id1" name="dept_id">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <input type="submit" class="btn btn-default submitFormBtn1" /><i id="loader1" style="margin-left:20px; display:none;" class="fa fa-lg fa-cog fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="error-div1" align="center" style="display:none; margin-top:10px;">
                                <span class="note note-warning">Something went wrong!&nbsp;<small>Try Again or Contact Administrator</small></span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="customize2" style="display:none;">
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-social-dribbble font-green hide"></i>
                                <span class="caption-subject font-dark bold uppercase">Customize</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="form-group selectSurvey2">
                                    <input type="hidden" name="col_id" value="<%= user.col_id %>" />

                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-2 col-md-offset-2">
                                            <label class="form-control" for="survey_id2">Select Survey</label>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <select class="form-control" id="survey_id2"  name="survey_id">
                                            </select>
                                        </div>

                                    </div>


                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-2 col-md-offset-2">
                                            <label class="form-control" for="dept_id2">Select Department</label>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <select class="form-control" id="dept_id2" name="dept_id">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <input type="submit" class="btn btn-default submitFormBtn2" /><i id="loader2" style="margin-left:20px; display:none;" class="fa fa-lg fa-cog fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="error-div2" align="center" style="display:none; margin-top:10px;">
                                <span class="note note-warning">Something went wrong!&nbsp;<small>Try Again or Contact Administrator</small></span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="download_div" style="display:none">
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-social-dribbble font-green hide"></i>
                                <span class="caption-subject font-dark bold uppercase">Download File</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="well download-div" align="center">
                                <a class="download-excel" href="#" ><img height="10%" width="10%" src="../../logo/excel.ico" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="download_div1" style="display:none">
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-social-dribbble font-green hide"></i>
                                <span class="caption-subject font-dark bold uppercase">Download File</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="col-md-12 well download-div1" align="center">
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <a class="download-excel" href="#" ><img height="10%" width="50%" src="../../logo/excel.ico" /></a>
                                    </div>
                                    <div class="col-md-12">Semester 4</div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <a class="download-excel1" href="#" ><img height="10%" width="50%" src="../../logo/excel.ico" /></a>
                                    </div>
                                    <div class="col-md-12">Semester 6</div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <a class="download-excel2" href="#" ><img height="10%" width="50%" src="../../logo/excel.ico" /></a>
                                    </div>
                                    <div class="col-md-12">Semester 8</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="download_div2" style="display:none">
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-social-dribbble font-green hide"></i>
                                <span class="caption-subject font-dark bold uppercase">Download File</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="well download-div" align="center">
                                <a class="download-excel" href="#" ><img height="10%" width="10%" src="../../logo/excel.ico" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--STOP EDITING HERE-->

        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <% include tpl/quicksidebar.ejs %>
</div>

<!-- END CONTAINER -->

<% include tpl/footer.ejs %>
</body>

<script>

    (load_departments = function(){
        $.ajax({
            url: '../../ajax/getDeptList',
            data: {col_id: '<%= user.col_id %>'},
            method: 'POST',
            success: function(data){
                data.forEach(function(d){
                    $('#dept_id').append('<option value="'+d.dept_id+'">'+d.dept_name+'</option>')
                    $('#dept_id1').append('<option value="'+d.dept_id+'">'+d.dept_name+'</option>')
                    $('#dept_id2').append('<option value="'+d.dept_id+'">'+d.dept_name+'</option>')
                });
            }
        });
    })();

    (load_surveys = function(){
        $.ajax({
            url: '../../ajax/getSurveyList',
            data: {col_id: '<%= user.col_id %>'},
            method: 'POST',
            success: function(data){
                data.forEach(function(d){
                    $('#survey_id').append('<option value="'+d.survey_id+'">'+d.survey_id+'</option>')
                    $('#survey_id1').append('<option value="'+d.survey_id+'">'+d.survey_id+'</option>')
                    $('#survey_id2').append('<option value="'+d.survey_id+'">'+d.survey_id+'</option>')
                });
            }
        });
    })();

   /* (load_sem = function () {
        $.ajax({
            url: '../../ajax/getSemList',
            data: {col_id: '<%= user.col_id%>'},
            method: 'POST',
            success: function (data) {
                data.forEach(function (s) {
                    $('#sem').append('<option value="'+s.sem+'">'+s.sem+'</option>')
                })
            }
        })
    })*/

    $('.portlet-body').on('click', '.tiles-subject', function(){
        $.ajax({
            url: '../../../ajax/get_sub_reports_excel',
            method: 'POST',
            data: {col_id: 1, dept_id: '1001', sem: 6, survey_id: 'survey-2017-1-even'},
            success: function(data){
                console.log(data);
            },
            error: function(error){
                console.log(error.statusText);
            }
        })
    })

    $('.download-div').on('click', '.download-excel', function(){
        window.location.replace('../../downloads/' + $('#survey_id option:selected').val() + '_' + $('#dept_id option:selected').val() + '.xlsx')
    })

    $('.download-div1').on('click', '.download-excel', function(){
        window.location.replace('../../downloads/' + $('#survey_id1 option:selected').val() + '_' + $('#dept_id1 option:selected').val() + '_sem_4.xlsx')
    })

    $('.download-div1').on('click', '.download-excel1', function(){
        window.location.replace('../../downloads/' + $('#survey_id1 option:selected').val() + '_' + $('#dept_id1 option:selected').val() + '_sem_6.xlsx')
    })

    $('.download-div1').on('click', '.download-excel2', function(){
        window.location.replace('../../downloads/' + $('#survey_id1 option:selected').val() + '_' + $('#dept_id1 option:selected').val() + '_sem_8.xlsx')
    })

    $('.download-div2').on('click', '.download-excel', function(){
        window.location.replace('../../downloads/' + $('#survey_id2 option:selected').val() + '_' + $('#dept_id2 option:selected').val() + '.xlsx')
    })

    $('.portlet-body').on('click', '.tiles-department', function(){
        $('#customize').fadeIn();
        $('#customize1').fadeOut();
        $('#customize2').fadeOut();
    })

    $('.portlet-body').on('click', '.tiles-sem', function () {
        $('#customize1').fadeIn();
        $('#customize').fadeOut();
        $('#customize2').fadeOut();

    })

    $('.portlet-body').on('click', '.tiles-whole', function () {
        $('#customize1').fadeOut();
        $('#customize').fadeOut()
        $('#customize2').fadeIn();
    })

    $('.selectSurvey').on('click', '.submitFormBtn', function (e) {
        $('#error-div').fadeOut();
        $('#download_div').fadeOut();
        $('#loader').fadeIn();
        $.ajax({
            url: '../../ajax/get_dept_report_excel',
            method: 'POST',
            data: {col_id: '<%= user.col_id %>', dept_id: $('#dept_id option:selected').val(), survey_id: $('#survey_id option:selected').val()},
            success: function(data){
                $('#download_div').fadeIn();
                $('#loader').fadeOut();
            },
            error: function(error){
                $('#error-div').fadeIn();
                console.log(JSON.stringify(error));
                $('#loader').fadeOut();
            }
        })
    })

    $('.selectSurvey2').on('click', '.submitFormBtn2', function (e) {
        $('#error-div2').fadeOut();
        $('#download_div2').fadeOut();
        $('#loader2').fadeIn();
        $.ajax({
            url: '../../ajax/get_dept_whole_report_excel',
            method: 'POST',
            data: {col_id: '<%= user.col_id %>', survey_id: $('#survey_id2 option:selected').val(), dept_id: $('#dept_id2 option:selected').val()},
            success: function (data) {
                $('#download_div2').fadeIn();
                $('#loader2').fadeOut();
            },
            error: function (error) {
                $('#error-div2').fadeIn();
                console.log(JSON.stringify(error));
                $('#loader2').fadeOut();
            }
        })
    })

    $('.selectSurvey1').on('click', '.submitFormBtn1', function (e) {
        $('#error-div1').fadeOut();
        $('#download_div1').fadeOut();
        $('#loader1').fadeIn();
        $.ajax({
            url: '../../ajax/get_dept_whole_extended_report_excel',
            method: 'POST',
            data: {col_id: '<%= user.col_id %>', survey_id: $('#survey_id1 option:selected').val(), dept_id: $('#dept_id1 option:selected').val()},
            success: function (data) {
                $('#download_div1').fadeIn();
                $('#loader1').fadeOut();
            },
            error: function (error) {
                $('#error-div1').fadeIn();
                console.log(JSON.stringify(error));
                $('#loader1').fadeOut();
            }
        })
    })

</script>

</html>